*
    padding: 0
    margin: 0

.food-banner
    background-image: url("../image/food-banner.png")
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: 667px
    h2
        font-weight: 500;
        font-size: 100px;
        line-height: 136px;
        color: #fff